.filters {
  padding: 1rem;

  & input {
    margin: .5em 0 0;
    accent-color: var(--led-orange);
  }

  & select {
    background-color: var(--bg-secondary-light);
    color: var(--led-orange);
    border: 1px solid var(--led-orange);
    border-radius: 6px;
    padding: .3em;
  }

  & input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
  }
}

.filters__container {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  margin-bottom: 1rem;
}

.filters__label {
  display: block;
  width: calc(50% - .25rem);

  & span {
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    white-space: nowrap;
  }
}

.filters__label--inline {
  display: inline-flex;
  align-items: center;

  & span {
    margin-right: .5em;
  }
}

.filters__label--full {
  width: 100%;

  & > * {
    width: 50%;
  }
}

.filters__slider {
  width: 100%;
}

@media (width < 992px) {
  .filters__label {
    width: 100%;
  }
}

@media (width < 768px) {
  .filters__label {
    width: calc(50% - .25rem);
  }

  .filters__label--full {
    width: 100%;
  }
}