.loading-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  .loading-spinner__spinner {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }

  &.loading-spinner--dark {
    background-color: rgba(0, 0, 0, .3);
  }

  &.loading-spinner--light {
    background-color: rgba(255, 255, 255, .3);
  }

  &.loading-spinner--dark .loading-spinner__spinner {
    border: 5px solid #fff;
    border-bottom-color: transparent;
  }

  &.loading-spinner--light .loading-spinner__spinner {
    border: 5px solid #333;
    border-bottom-color: transparent;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}