.main {
  position: relative;
  margin: var(--header-height) 0 var(--player-height);

  & .content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;

    & .track-item {
      margin-bottom: 10px;
    }
  }
}

